[submodule "app/public/built-games/cookieclicker"]
	path = app/public/built-games/cookieclicker
	url = git@github.com:SHSGames/cookieclicker.git
[submodule "app/public/built-games/CSGOClicker"]
	path = app/public/built-games/CSGOClicker
	url = https://github.com/bnned/CSGOClicker.git
