[submodule "app/public/built-games/cookieclicker"]
	path = app/public/built-games/cookieclicker
	url = git@github.com:SHSGames/cookieclicker.git
[submodule "app/public/built-games/CSGOClicker"]
	path = app/public/built-games/CSGOClicker
	url = git@github.com:bnned/CSGOClicker.git
[submodule "app/public/built-games/chromedino"]
	path = app/public/built-games/chromedino
	url = git@github.com:wayou/t-rex-runner.git
[submodule "app/public/built-games/baldis-basics"]
	path = app/public/built-games/baldis-basics
	url = git@github.com:SHSGames/baldis-basics.git
[submodule "app/public/built-games/takumiraccoon"]
	path = app/public/built-games/takumiraccoon
	url = git@github.com:SHSGames/takumiraccoon.git
