<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>

		<title><%= title %></title>

		<meta charset="utf-8"/>
		<meta name="description" content="<%= description %>"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="apple-touch-icon" href="/icon.png"/>
		<link rel="apple-touch-startup-image" href="/icon.png"/>
		<meta name="apple-mobile-web-app-title" content="<%= title %>"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>

	</head>

	<body>

		<noscript>

			<style>
				body {
					padding: 0!important;
					margin: 0!important;
				}
				#noscript {
					display: flex;
		        	justify-content: center;
		        	align-items: center;
		        	height: 100vh;
				}
			</style>

			<div id="noscript">
				<div style="width: 100%; max-width: 600px;">
					<i class="material-icons text-deep-orange" style="font-size: 72px;">error_outline</i>
					<br/>
					<h5>This site requires JavaScript to work properly</h5>
					<br/>
					<p>Install JavaScript or upgrade your browser.</p>
					<br/>
					<a href="https://www.enable-javascript.com/" class="link">Get JavaScript</a>
				</div>
			</div>

		</noscript>

	</body>
</html>
